body {
  text-align: center;
  background-color: #e8eaf9;
}
header {
  margin: 50px 500px;
  font-family: "Charter";
  font-size: 20px;
  border: solid 7px white;
  background-color: #e8eaf9;
}
h1 {
  color: #008854;
  margin-bottom: 0;
}
h2 {
  color: #c60a8d;
  margin-top: 0;
}
.search-block {
  background-color: white;
  padding: 50px 20px 30px 40px;
  margin: auto 400px;
  border-radius: 20px;
}
form {
  display: flex;
}
.exemple {
  margin-top: 20px;
  display: flex;
  color: #008854;
}
.input-text {
  border: 2px solid black;
  border-radius: 10px;
  width: 70%;
  padding: 14px;
  font-size: 14px;
  margin-right: 10px;
}
.input-button {
  font-size: 18px;
  border-radius: 10px;
  padding: 15px 20px;
  background-color: #e8eaf9;
  border: solid 2px black;
}
.input-button:hover {
  cursor: pointer;
  background-color: #aaf0d1;
  color: #c60a8d;
  border: solid 2px #c60a8d;
  transition: all ease-in-out 0.5s;
}

.poem-author {
  background-color: #aaf0d1;
  padding: 20px 0 40px;
  margin: 20px 470px;
  border: solid 4px white;
  border-radius: 10px;
}
.poem-title {
  color: #006f46;
  font-family: "Palatino";
  font-size: 30px;
  padding-bottom: 20px;
}
.poem {
  font-size: 17px;
  line-height: 1.6;
}
.name {
  padding-top: 30px;
  color: #c60a8d;
  font-size: 28px;
  font-family: Apple Chancery;
}
footer {
  margin: 50px 0;
  font-size: 18px;
}
footer a {
  color: #c60a8d;
}
